/* frontend/src/App.css */

.App {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding: 20px;
}

.zone-title {
  font-size: 24px;
  color: gray;
  text-align: left;
}

/* Opcional: Estilos Adicionales para Mejorar la Apariencia */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
